
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
/* universal */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* shared style */
.text{
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.img{
    max-width: 100%;
}
.container{
    max-width: 1440px;
    margin: 0px auto;;
    padding: 0px 150px;  
}
.btn{
  background-color: #E95A08;
  color: white;
  font-size: 1rem;
  font-weight: 600; 
  padding: 19px 80px; 
  border: none;
}
/* header */
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.navbar ul{
    display: flex;
    gap: 45px;
}
.navbar a{
    
    text-decoration: none;
}
.home{
    color: #252432;
    font-size: 1rem;
    font-weight: bold;

}
.shop-about{
    color:#8987A1 ;
     font-size: 1rem;
     font-weight: 500;
}
.cart{
     font-size: 1rem;
     font-weight: 500;
     color: #000000;
}
.navbar li{
    list-style:none
}
/* banner */
.banner{
    display: flex;
    margin: 120px auto;
    
}
.banner-title{
    font-size: 4rem;
    font-weight: 600;
}
.banner-content{
    width: 50%;
    margin-top: 50px;

}
.fresh{
    color:#E95A08;
}
.flower{
    color: #E95A08;
}
.banner-description{
    margin-top: 13px;

}
/* main */
/* our plants */
.our{
    color: #E95A08;
}
.our-plants-content{
    text-align: center;
}
.our-plants-title{
   font-size: 3rem; 
   font-weight: 700;   
}
.our-plants-description{
    margin-bottom: 48px;
}
.allcards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}
.card-container{
    text-align: center;
    
   
}
.card-title{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 30px;
}
.card-price{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 700;
}
/* responsive for mobile */
@media screen and (max-width: 576px) {
    .home{
       display: none; 
    }
    .shop-about{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;        
    }
    
    .container{
        padding: 0px 15px;
    }
    .banner-content{
        margin-top: 20px;
        width: 100%;
    } 
    .banner-title{
        font-size: 1.5rem;
    }  
    .banner-description{
        font-size: 0.9rem;
    } 
    .allcards{
        grid-template-columns: 1fr;
        width: 100%;
    }  
}